
@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0; font-size:1.4rem; word-break: keep-all;}
fieldset,img {border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,textarea,button{border:0 none;background-color:transparent; vertical-align:middle; outline: none;}
select,button{cursor:pointer}
select{border:0 none;vertical-align:middle}
textarea{border:1px solid #e0e0e0; font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
input::-ms-clear {display:none}
a {color:#000;text-decoration:none}
a:hover {text-decoration:none}
/*a:active {background-color:transparent}*/
img{vertical-align:top}
i,em,address{font-style:normal}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
header,main,aside,article,footer {display:block}
table{width:100%;border-collapse:collapse; table-layout:fixed; word-wrap: break-word;}
.hidden,
caption { text-indent:-999999999px; width: 0;height: 0px; font-size:0; padding: 0;border: 0;}

/***common***/
body,html { font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif; font-size: 10px; color: #222; margin: 0; padding: 0; line-height: 1; width: 100%; height:100%} 
li,ul { padding: 0; margin: 0; list-style: none}
table,tbody,td,tr { border-collapse: collapse; padding: 0; margin: 0}
a,button,label { text-decoration: none; color:#000; cursor: pointer; background: none; border: 0}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder { /* WebKit browsers */ color: transparent; outline: none;}
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color: transparent; outline: none;}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder { /* Mozilla Firefox 19+ */ color: transparent; outline: none;}
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder { /* Internet Explorer 10+ */ color: transparent; outline: none;}

/*layout*/
.eduon_wrap{position: relative; width: 100%;overflow: hidden;}
.scroll_hidden{height:100%; overflow: hidden;}
.eduon_header{position: absolute; top:0; left:0; width:100%; height:50px; z-index:900; background: rgba(0,0,0,0.3);}
.eduon_logo{width:100%; text-align: center; padding-top:13px}
.eduon_logo > a{width:75px; height:30px; background: url('../images/eduon_logo_b.png') no-repeat; background-size: 100% auto; display: block; margin: 0 auto; text-indent: -5000em; overflow: hidden;}

.menu_toggle{position: absolute; font-size:22px; color:#FFF; padding:13px 10px 8px; left:0; top:0}
.info_toggle{position: absolute; width:50px; height:50px; top:0; right:0; text-indent: -5000em; overflow: hidden; background: url('../images/myinfo2.png') no-repeat center center; background-size:20px 20px ;}
.eduon_header.fixed_top{position: fixed; border-bottom:solid 1px #EAEAEA;background: #FFF;}
.fixed_top .eduon_logo > a{background: url('../images/eduon_logo_w.png') no-repeat;background-size: 100% auto;}
.fixed_top .menu_toggle{color:#000}
.fixed_top .info_toggle{background: url('../images/myinfo.png') no-repeat center center; background-size:20px 20px ;}

.edu_gnb{position: fixed; top:0; left:0; background: #FFF; width:70vw; height:100vh; z-index: 1000; overflow-y: auto; transform: translateX(-101%); transition: all 0.5s;}
.edu_gnb.active{transform: translateX(0);}
.menubar{display: flex; justify-content: space-between; border-bottom:2px solid #cfcfcf; padding:10px 15px; align-items: center;}
.menubar .logo > img{height:14px}
.menubar .menu_close{font-size: 1.8rem;}
.dim{position: fixed; width:100vw; height: 100vh; background: rgba(0,0,0,0.8); top:0; left:0; z-index: 900; display: none;}
.dim.active{display: block;}
.main_nav > li > a{font-weight: 700; font-size:1.5rem; display: flex; padding:0 18px; line-height: 40px; position: relative;}
.main_nav .new{color:#FF5050;  margin-left: 0.4rem;}
.main_nav > li > a::after{content: "\e941";font-family: xeicon !important; font-size: 1.2rem; position: absolute; right:18px; top:1px}
.main_nav > li > ul{background: #F8F8F8; padding:0 15px; height:0px; overflow: hidden; box-sizing: border-box; }
.main_nav > li > ul > li > a{display: block; line-height: 2.5; font-size:1.4rem; font-weight: 700;}
.main_nav > li.active > a::after{ transform: rotate(180deg);}
.main_nav > li.active > ul{min-height: 20%; padding:8px 18px ; height: auto;}

.member_info{position: fixed; top:0; right:0; background: #FFF; width:70vw; height:100vh; z-index: 1000; overflow-y: auto; transform: translateX(101%); transition: all 0.5s;}
.member_info.active{transform: translateX(0);}

.content_wrap{min-height: 300px;}

/*풋터 */
.eduon_footer{background: #2D2D2D; color:#CBCBCB; font-size:1.4rem; line-height: 1rem;}
.anchor_top{width:22px; height:22px; background: #000; color:#FFF; text-align: center; line-height: 22px; box-sizing: border-box; padding-top: 1px;}
.company_contact{margin-top:39px ; font-size:1.4rem; padding:0 1.6rem}
.company_contact > em{font-weight: 700; margin-bottom:1em; display: block; font-size:1.8rem; }
.company_contact > .phone_number{color:#FFF; }
.company_contact > .phone_number > tel{color:#FFF; font-size:2.4rem; font-weight: 800;}
.company_contact > .phone_number > span{margin-top: 2.6rem; display: block;}

.social_link{margin-top: 3.6rem;}
.sns_link{display: flex;  margin-right: 80px; padding: 0 1.6rem}
.sns_link > li{margin-right: 2.5rem; }
.sns_link > li > a{color:#FFF; display: block; padding: 10px 0px 0px 0px;text-align: center; font-size:2.0rem}
.sns_link > li > a.blog{line-height: 1; font-weight: 900; font-size:22px}

.footer_wrap .company_info {margin-top: 4.7rem; padding:0 1.6rem; font-size:1.4rem; line-height: 1.8rem; }
.footer_wrap .company_info .company_nm{font-weight:600; display: block; color:#FFF; margin-bottom: 1em;}
.footer_wrap .company_info .info_list > li{font-size:1.2rem}

.footer_family{position: relative; text-align: center; }
.footer_family > a{display: block;line-height: 50px; font-weight:700; display: flex; justify-content: center; align-items: center; color:#FFF; background: #606060;}
.footer_family > ul {position: absolute; bottom:50px; left:0; border:1px solid #959595; width:100%; padding: 18px; box-sizing: border-box; background: #FFF;border:1px solid #606060;  font-size:1.6rem; display: none; }
.footer_family > ul > li > a{color:#737373;  line-height: 2.5em; font-size:1.6rem; font-weight: 700;}
.footer_family.active > ul{display: block;}
.footer_family > a > i{margin-left: 0.5rem;}
.footer_family.active > a > i{transform: rotate(180deg);} 

.contact_link{display: flex; border-bottom:1px solid rgba(255,255,255,0.2);}
.contact_link > li{flex:1}
.contact_link > li > a{ line-height: 47px; color:#FFF ; text-align: center;  display: block; font-weight: 700;}
.contact_link > li:last-child > a{color:#FF5050}

.policy_link{display: flex; margin-top:2.8rem ;  justify-content: center;  padding: 1.6rem 0;border-top:1px solid rgba(255,255,255,0.2);}
.policy_link > li > a{color:#D3D3D3; padding:0 1rem; display: block; line-height: 1; font-size:1.2rem}
.policy_link > li{border-right:1px solid rgba(211, 211, 211, 0.5); height:1.4rem}
.policy_link > li:last-child{border-right:none}
