
/*메인 비쥬얼*/
.main_visual{position: relative;}
.fleximg{width:100%}
.main_band_banner img{width:100%}
.video_wrap{ position: relative; height:100%; padding-top: 127%; overflow: hidden;}
.video_wrap video{height:100%;position:absolute; top:0; left:-50%}
.video_wrap .bn_img{position: absolute; width:100%; top:0; left:0}
.main_visual .bx-controls{position: absolute; width:100%; left:0; bottom:2.5rem;z-index: 5;}
.main_visual .bx-pager{display: flex; justify-content: center;}
.main_visual .bx-pager-item{margin-right: 0.8rem;}
.main_visual .bx-pager a{display: block;  width:.8rem; height:.8rem; border-radius: 1em; text-indent: -5000em; transition: all 0.5s; background-color:rgba(255, 255, 255, 0.2); ;}
.main_visual .bx-pager a.active{background: #FFF; }
.viausl_mask{position:absolute;top:0;left:0;width:100%; height:100%;background-position: center center; z-index: 5; background-repeat: no-repeat;}


.main_brand{ padding:3.0rem 1.6rem }
.main_brand > ul > li{margin-bottom: 0.6rem;}
.main_brand > ul > li > a{display: flex; background: #F8F8F8;  border-radius: .4rem;box-sizing: border-box; padding: 2.0rem 2.0rem; min-height: 12.2rem;position: relative;justify-content: center; flex-direction: column;}
.main_brand .tit{display: block; font-size:2.4rem; font-weight: 800; }
.main_brand .sym{display: block; width:8.2rem; height:8.2rem; background: #EAEAEA; border-radius: 100%;  display: flex; align-items: center; justify-content: center; position: absolute; right:2.2rem; top:2rem}
.main_brand > ul > li:nth-child(2) > a > .sym > img{width:60%; margin-left: 1%;}
.main_brand .sym > img{width:70%}
.main_brand .summary{display: block; margin-top: 1rem; font-size:1.6rem; line-height: 1.4; color:#7E7E7E}


.hotnew_section{background:#F2F2F2; padding:6rem 0 6rem; position: relative;}
.hotnew_section > h3{font-size:3rem; color:#000; text-align: center; letter-spacing: -0.01em; font-weight: 800; margin-bottom: 2.6rem;}
.hotnew_wrap{ position:relative; z-index: 2; width:65%; margin: 0 auto;}
.hotnew_wrap .bx-viewport{overflow:visible !important;}
.hotnew_wrap .newitem {transform: scale(0.9); opacity:0.2 ; transition: all 0.3s; box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);}
.hotnew_wrap .newitem.on{transform: scale(1); opacity:1 ;}
.hotnew_wrap .newitem  img{width:100%}

.hotnew_wrap .bx-controls{position: relative; margin-top: 4rem;}
.hotnew_wrap .bx-pager{display: flex; justify-content: center;}
.hotnew_wrap .bx-pager-item{margin-right: 1rem;}
.hotnew_wrap .bx-pager a{display: block;  width:1rem; height:1rem; border-radius: 1em; text-indent: -5000em; transition: all 0.5s; background-color:rgba(0, 0, 0, 0.1); ;}
.hotnew_wrap .bx-pager a.active{background: #000; }


.main_media{background: #2A2A2A; padding:6rem 1.6rem 6rem; position: relative; }
.main_media > h3{font-size:3rem; color:#fff; text-align: center; letter-spacing: -0.01em; margin-bottom: 2.2rem;}
.media_list{width:100%; margin: 0 auto; position: relative; }
.media_item{width:100%; position: relative; }
.media_item .thum > img{width:100%; }
.media_item .title{ background: rgba(0,0,0,1); width:100%; line-height: 1.5; color:#FFF; padding:1.25rem 1.9rem; font-size:1.4rem; box-sizing: border-box;}
.media_item .title > em{margin-right: 5px; display: inline-block; color:#FF8267}
.media_item .title > em:after{content: '|'; color: rgba(255, 255, 255, 0.3); margin-left: 10px;}

.main_media .bx-controls{ width:100%; margin-top: 1.7rem;}
.main_media .bx-pager{display: flex; justify-content: center;}
.main_media .bx-pager-link{display: block; width:4.7rem; height:2rem; overflow: hidden; text-indent: -5000em; margin: 0 0.2rem; position: relative;}
.main_media .bx-pager-link:after{content: ''; width:100%; height:0.2rem;background:rgba(255, 255, 255, 0.3); left:0; top:9px; position:absolute ;}
.main_media .bx-pager-link.active:after{background: #FFF;}
.main_media .dir_controll .dir_btn{ color:#fff; position: absolute ;font-size:1.7rem; width:1.7rem; line-height: 1.7rem;  z-index: 50; bottom:0 }
.main_media .dir_controll .dir_btn.prev{left:3rem; }
.main_media .dir_controll .dir_btn.next{right:3rem; }
.main_media .dir_controll .dir_btn > a{position: absolute; top:0; left:0; width:100%; height: 100%; text-indent: -5000em; overflow: hidden;} 

.main_review_section{ padding:6rem 1.6rem; position: relative;}
.main_review_grid > h3{font-size:3rem; color:#000; text-align: center; letter-spacing: -0.01em; margin-bottom: 2.2rem;}

.review_tab{margin-top: 3.6rem;}
.review_tab > ul{display: flex;}
.review_tab > ul > li{margin-right:1.6rem;}
.review_tab > ul > li > a{display: block; font-size:18px; font-weight: 600; color:#909090; line-height: 25px;}
.review_tab > ul > li > a.on{color:#FF5050; border-bottom:3px solid #FF5050}

.main_review_wrap{position: relative; margin-top: 3rem;}
.main_review_wrap .more{ font-size:1.4rem; color: #FF5050; border:1px solid #FF5050; font-weight: 800; line-height: 4rem; display: block; margin-top: 3rem;  text-align: center; border-radius: 2rem;}
.review_item{width:100%;   background: #FFF;}
.review_item > a{display: block; padding:2rem 1.5rem; color:#4E4E4E ;line-height:1.5; display: flex; flex-flow: column; box-shadow: 0.2rem 0.2rem 0.8rem 0.2rem rgba(0, 0, 0, 0.1); margin: 0.8rem; border-radius: 0.5rem; height:25rem}
.review_item > a > em{display: block; font-size:1.8rem; color:#000; line-height: 1.25; font-weight:700 ; margin-bottom: 2.7rem;}
.review_item .cont{min-height:6rem ;}
.review_item .user{margin-top: 2.5rem;}
.review_item .cont > b{color: #FF5050;}
.review_item .user > b{display: block;}
.main_review_wrap .bx-controls{position: relative; margin-top: 2.3rem;}
.main_review_wrap .bx-pager{display: flex; justify-content: center;}
.main_review_wrap .bx-pager-item{margin-right: 1rem;}
.main_review_wrap .bx-pager a{display: block;  width:1rem; height:1rem; border-radius: 1em; text-indent: -5000em; transition: all 0.5s; background-color:rgba(0, 0, 0, 0.1); ;}
.main_review_wrap .bx-pager a.active{background: #000; }

.recom_lec_section{background:  linear-gradient(-180deg, #fff 45%, #F1F9FC 45%);  padding:6rem 3rem 6rem 1.6rem; box-sizing: border-box; }
.recom_lec_section > h3{font-size:3rem; color:#000; text-align: center; letter-spacing: -0.01em; margin-bottom: 2.2rem;}
.recom_lec_list{width:100%;  position: relative;}
.recom_lec_item{ box-sizing: border-box; padding: .5rem 2rem .5rem .5rem; }
.recom_lec_item > a{display: block; height:80vw ;width:100%;  box-sizing: border-box;border: 1px solid #CBCBCB;background: #FFFFFF; box-shadow: .4rem .4rem .3rem rgba(0, 0, 0, 0.05);}
.recom_lec_item .lec_img{display: block; width:100%; border-radius: 0 0 2rem 0; overflow: hidden;}
.recom_lec_item .lec_img > img{width:100%}
.recom_lec_item .lec_evt{color:#FF5050;  padding:0 2rem ; font-weight: 700; margin-top: 1.6rem; display: block;}
.recom_lec_item .lec_title{display: block;padding:0 2rem; font-size:1.9rem; font-weight: 700; color:#000; margin: 1.2rem 0 0.5rem; display: -webkit-box; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical;  line-height: 1.3;}
.recom_lec_item .lec_tnm{display: block;padding:0 2rem; }
.recom_lec_list .bx-viewport{overflow:visible !important;}
.recom_lec_section .bx-controls{position: relative; margin-top: 2.6rem;}
.recom_lec_section .bx-pager{display: flex; justify-content: center;}
.recom_lec_section .bx-pager-item{margin-right: 1rem;}
.recom_lec_section .bx-pager a{display: block;  width:1rem; height:1rem; border-radius: 1em; text-indent: -5000em; transition: all 0.5s; background-color:rgba(0, 0, 0, 0.1); ;}
.recom_lec_section .bx-pager a.active{background: #000; }



.pop_lec_section{ padding:6rem 1.6rem 6rem 1.6rem;}
.pop_lec_section + .pop_lec_section{border-top: 1rem solid #F8F8F8;}
.pop_lec_section > h3{font-size:3rem; color:#000; text-align: center; letter-spacing: -0.01em; margin-bottom: 2.2rem;}
.pop_lec_list{ position: relative;}
.pop_lec_item{width:44%; position: relative; }
.pop_lec_item > a{display: block; }
.pop_lec_item .lec_img{display: block; width:100%; border-radius: 0 0 2rem 0; overflow: hidden;}
.pop_lec_item .lec_img > img{width:100%}
.pop_lec_item .lec_evt{color:#FF5050; font-weight: 700; margin-top: 1.3rem; display: block; font-size:1.2rem}
.pop_lec_item .lec_evt + .lec_title{margin-top: 0.5rem;}
.pop_lec_item .lec_title{display: block; font-size:1.4rem; font-weight: 700; color:#000; margin: 1.3rem 0 .6rem;display: -webkit-box; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical; line-height: 1.3;}
.pop_lec_item .lec_tnm{display: block; }
.pop_lec_section .bx-controls{position: relative; margin-top: 2.6rem;}
.pop_lec_section .bx-pager{display: flex; justify-content: center;}
.pop_lec_section .bx-pager-item{margin-right: 1rem;}
.pop_lec_section .bx-pager a{display: block;  width:1rem; height:1rem; border-radius: 1em; text-indent: -5000em; transition: all 0.5s; background-color:rgba(0, 0, 0, 0.1); ;}
.pop_lec_section .bx-pager a.active{background: #000; }